<h1>Welcome to the new Street Fighter Arena</h1>

<p>Please README before fighting</p>
<p>You've just installed the game but now you have to create the database and prepopulate the data.<br />
So please, execute the commands below in the "jobs" repository:
<ul>
    <li>rails db:migrate</li>
    <li>rails db:seed</li>
</ul>
Now you can enjoy the game and go to the Arena through the menu item <%= link_to 'Home - Arena', fights_path, class: "nav-link" %> .
</p>
