%h1 Editing fight

= render 'form'

= link_to 'Create new fighter', new_character_path, role: "button", class: "btn btn-info active"
= link_to 'Cancel', fights_path, role: "button", class: "btn btn-warning active"
