<h1> Fight <%= @fight.status %><h1>
<div>
    <p> The winner is 
        <%= @fight.opponent1.name if @fight.winner == "opponent1" %>
        <%= @fight.opponent1.name if @fight.winner == "opponent2" %>
    </p>
</div>
<div>
    <%= link_to 'Return to the arena', fights_path, role: "button", class: "btn btn-primary active"%> 
</div>